In [1]:
import pandas as pd
import gspread
from google.oauth2 import service_account

In [2]:
from google_sheets.sheethelper import SheetHelper

In [3]:
sh = SheetHelper(sheet_url="https://docs.google.com/spreadsheets/d/1i_Z8Aqak_evSMT9mdoOjmTfeKEXQ_n19jqWV3DNZtWM/edit?gid=0#gid=0", sheet_id=0)

In [4]:
register = sh.gsheet_to_df()

In [5]:
from notion_api.notionhelper import NotionHelper

In [6]:
nh = NotionHelper()

In [7]:
# nh.get_database("130fdfd68a9780f1a31de290fb05f9ee")

In [13]:
intervetion_group = nh.get_all_pages_as_dataframe("130fdfd68a978000a617fafb9e478dc8")

In [9]:
print('Register df')
register

Register df

   NHS number  Prefered Telecoms Date of birth Firstname           Email
0     3456789         7486321744      02/05/69       Jan     jan@jan.com
1    87654324            9786543      01/01/02     Frank   frank@jan.com
2      876543            9876543    02/02/1990    Maggie  maggie@jan.com
3     1111111            9876543    03/02/1990    Maggie  maggie@jan.com
4   222222222            9876543    04/02/1990    Maggie  maggie@jan.com

In [14]:
print('Intervetion Group')
intervetion_group

Intervetion Group

,BP,OH Units,DIAS BP,OHmore6,W Q6,#Cigarrettes,W Q4,OH?,SYS BP,How Often?,...,W TOTAL,OUTCOME,W Q5,Drugs,Exercise,Status,FU Date,Employment,W Q1,Name
0,No,5 - 6,NaN,Less than monthly,5,NaN,5,Yes,NaN,,...,35,,5,Never,No,Not started,,Student,5,Sally Jones
1,No,,NaN,,1,NaN,1,No,NaN,,...,7,,1,,No,Done,,,1,Sally
2,Yes,7 - 8,80,Weekly,3,28,3,Yes,120,Daily,...,NaN,,3,Yes,Yes,Not started,,Employed part-time,4,Jan
3,Yes,7 - 8,77,Monthly,2,NaN,2,Yes,129,Once a week,...,NaN,,2,,Yes,Not started,,Employed part-time,1,Jan
4,Yes,5 - 6,80,Never,4,NaN,3,Yes,128,Once a week,...,NaN,,3,Never,Yes,Not started,,Employed part-time,2,Jan du Plessis
5,,,NaN,,NaN,NaN,NaN,,NaN,,...,NaN,,NaN,,,Not started,,,NaN,7654
6,,,NaN,,NaN,NaN,NaN,,NaN,,...,NaN,,NaN,,,Not started,,,NaN,7654
7,,,NaN,,NaN,NaN,NaN,,NaN,,...,NaN,,NaN,,,SMS for Blood or ECG,,,NaN,SMI 2
8,,,NaN,,NaN,NaN,NaN,,NaN,,...,NaN,,NaN,,,Not started,,,NaN,SMI 1
9,,,NaN,,NaN,NaN,NaN,,NaN,,...,NaN,NOT MUCH OUTCOME,NaN,,,Not started,,,NaN,SMI 6
10,,,NaN,,NaN,NaN,NaN,,NaN,,...,NaN,,NaN,,,In progress,,,NaN,SMI 7

In [11]:
due_intervention = register[~register['NHS number'].isin(intervetion_group['NHS number'])]

In [12]:
due_intervention

   NHS number  Prefered Telecoms Date of birth Firstname           Email
1    87654324            9786543      01/01/02     Frank   frank@jan.com
2      876543            9876543    02/02/1990    Maggie  maggie@jan.com
3     1111111            9876543    03/02/1990    Maggie  maggie@jan.com
4   222222222            9876543    04/02/1990    Maggie  maggie@jan.com