In [1]:
import pandas as pd
import gspread
from google.oauth2 import service_account

In [2]:
from google_sheets.sheethelper import SheetHelper

In [3]:
sh = SheetHelper(sheet_url="https://docs.google.com/spreadsheets/d/1i_Z8Aqak_evSMT9mdoOjmTfeKEXQ_n19jqWV3DNZtWM/edit?gid=0#gid=0", sheet_id=0)

In [4]:
register = sh.gsheet_to_df()

In [5]:
from notion_api.notionhelper import NotionHelper

In [14]:
nh = NotionHelper()

In [19]:
# nh.get_database("130fdfd68a9780f1a31de290fb05f9ee")

In [20]:
intervetion_group = nh.get_all_pages_as_dataframe("130fdfd68a9780f1a31de290fb05f9ee")

In [21]:
print('Register df')
register

Register df

   NHS number  Prefered Telecoms Date of birth Firstname           Email
0     3456789         7486321744      02/05/69       Jan     jan@jan.com
1    87654324            9786543      01/01/02     Frank   frank@jan.com
2      876543            9876543    02/02/1990    Maggie  maggie@jan.com

In [22]:
print('Intervetion Group')
intervetion_group

Intervetion Group

,Status,NHS number,Date,URL,Checkbox,Description,Email,Checkbox 1,Name
0,Not started,98765432,,None,True,,None,False,Not in register
1,Not started,9876543,,None,True,,None,False,Not in register
2,Done,98765434567,2024-10-16,None,True,free text 3,None,True,Maggie
3,Not started,3456789,2024-10-23,https://www.make.com,True,free text,jan@jan.com,True,Jan
4,In progress,98765432345,,None,False,Free text 2,None,True,James

In [23]:
due_intervention = register[~register['NHS number'].isin(intervetion_group['NHS number'])]

In [24]:
due_intervention

   NHS number  Prefered Telecoms Date of birth Firstname           Email
1    87654324            9786543      01/01/02     Frank   frank@jan.com
2      876543            9876543    02/02/1990    Maggie  maggie@jan.com